<nav class="navbar">
  <a class="logo" routerLink="/">
    <span class="logo-text">MovieHub</span>
  </a>

  <div class="nav-center">
    <a [routerLink]="['/movie', 1]" class="nav-item demo-link">Отзывы</a>
    <a routerLink="/add-movie" class="nav-link-add-movie">Добавить фильм</a> 
  </div>

  <div class="nav-links">
    <ng-container *ngIf="authService.isLoggedIn(); else guestLinks">
      <a class="user-block" routerLink="/profile">
        👤 {{ authService.getUsername() }}
      </a>
      <button class="btn-logout" (click)="logout()">Выйти</button>
    </ng-container>
    <ng-template #guestLinks>
      <a routerLink="/login">Войти</a>
      <a routerLink="/register" class="btn-register">Регистрация</a>
    </ng-template>
  </div>
</nav>